.about{
    position: relative;
    top: 90px;
    width:90%;
    left: 25px;
    padding-bottom: 30px;
    h1{
        font-size: 1.8rem;
    }
    p{
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 1.15rem;
    }
    .note{
        color: $grey-color;
    }
}

@media only screen and (max-width: 550px){
    .about{
        width: 95%;
        left: 15px;
    }
}