.moteWrapper{
    .moteContent{
        color: white;
        position: relative;
        top: 80px;
        left: 25px;
        width: 800px;
        .titleWrapper {
            display: flex;
            #title{
                border: none;
                outline: none;
                color: white;
                background: none;
                font-size: 2rem;
                font-weight: 500;
                width: 100%;
                margin-right: 15px;
            }

            svg{
                fill: white;
                position: relative;
                top: 7px;
                cursor: pointer;
            }
        }

        #notes{
            margin-top: 20px;
            border: none;
            outline: none;
            color: white;
            background: none;
            font-size: 1.2rem;
            width: 100%;
            height: 300px;
            padding-right: 10px;
            min-height: 200px;
            padding-bottom: 10px;
            max-width: 800px;
            min-width: 800px;
        }

        textarea::-webkit-scrollbar{
            width: 7px;
            background-color: $grey-color;
            border-radius: 10px;
            height: 6px;
        }
              
        textarea::-webkit-scrollbar-thumb{
            width: 7px;
            background-color: $main-color;
            border-radius: 10px;
            height: 6px;
        }

        p{
            margin: 15px 0px;
            font-size: 1.1rem;
            position: relative;

        }

        .moteInfo{
            position: relative;
            top: 20px;
            padding-bottom: 20px;
            h1{
                font-size: 1.35rem;
                font-weight: 500;
            }
            p{
                font-size: 1.1rem;
                position: relative;
                display: flex;
                span{
                    color: $main-color;
                    margin-left: 5px;
                }
            }
            
        }
    }
}

@media only screen and (max-width: 850px){
    .moteWrapper .moteContent{
        width: 95%;
        padding-right: 20px;
    }

    .moteWrapper .moteContent #notes{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

}

@media only screen and (max-width: 550px){
    .moteWrapper .moteContent{
        left: 10px;
    }
}