@import "variables";

.navbar{
    width: 100%;
    position: absolute;
    top: 0;
    a .logo{
        color: white;
        position: absolute;
        padding: 10px;
        font-weight: 600;
        margin-left: 13px;
        span{
            color: $main-color;
        }
    }
    ul{
        width: 170px;
        position: absolute;
        right: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        font-size: 1.2rem;
        padding: 10px;
        padding-top: 20px;
        margin-right: 25px;
        li a{
            color: white;
            transition: all 300ms linear;
            text-decoration: none;
            &:hover{color: $main-color;}
        }
    }
}

@media only screen and (max-width: 550px){
    .navbar a .logo{
        margin-left: 0px;
    }

    .navbar ul{
        margin-right: 5px;
    }
}