@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "navbar";

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body{
    background: rgb(4, 3, 15);
}

.main{
    .content{
        position: absolute;
        top: 250px;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
        width: 500px;
        display: flex;
        flex-direction: column;
        h1{
            margin-bottom: 10px;
        }
        form{
            display: flex;
            flex-direction: column;
            .inputField{
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                input{
                    height: 45px;
                    border: none;
                    cursor: pointer;
                    border-radius: 3px;
                    outline: none;
                    padding-left: 10px;
                    font-size: 1rem;
                    color: white;
                    background: rgb(19, 17, 46);
                }
                label{
                    position: relative;
                    top: 32px;
                    color: rgb(228, 228, 228);
                    left: 10px;
                }
            }
            button{
                padding: 10px;
                background: $main-color;
                border: none;
                outline: none;
                border-radius: 3px;
                color: white;
                font-size: 1.1rem;
                cursor: pointer;
                transition: all 300ms linear;
                &:hover{
                    background-color: $main-color-hover;
                }
            }
        }
        p{
            margin-top: 10px;
            font-size: 1.05rem;
        }
        .note{
            color: rgb(180, 180, 180);
        }
    }
}